body
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png")

.hero-unit
  // Fonts
  font-family: 'Roboto'
  color: #57534A

  // Background
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png")
  background: rgba(255, 255, 255, 0.7)
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3)
